#content 
{
	width: 800px;
	margin: auto;
	border-left: thin solid black;
	border-right: thin solid black;
	padding: 20px 50px 10px 50px;
	background-color: white;
}

body
{
	font-family: Verdana, Geneva, sans-serif;
	text-align: justify;
	background-color: #ebf2fa;
	margin: 0;
}

li
{
	margin: 15px 0;
}

#author
{
	margin: -10px 0 20px 0;
	padding-left: 145px;
	font-size: 75%;
	color: gray;
}

#footer
{
	font-size: 75%;
	color: gray;
	text-align: center;
	margin-top: 50px;
}

.title
{
	margin-top: 50px;
	padding: 10px 0 20px 20px;
	border: thin solid gray;
	border-radius: 5px;
	text-align: center;
}

#header
{
	padding: 10px 0 20px 40px;
	border: thin solid gray;
	border-radius: 5px;
}

.button
{
	border: thin solid gray;
	border-radius: 10px;
	float: left;
	height: 30px;
	vertical-align: middle;
	text-align: center;
	padding: 10px 10px 0 10px;
	margin-right: 10px;
	text-decoration: none;
}

.button:hover
{
	background-color: #ebf2fa;
}

.button:active
{
	background-color: #ebf2fa;
}

#menu
{
	margin-top: 10px;
	margin-left: 35px;
	text-align: center;
}

.fig
{
	display: block;
	margin: 30px auto;
}